# Lists

In [2]:
print(1, "Salim", 2,3)

1 Salim 2 3

In [39]:
def subtraction(a, b):
    return a -b

subtraction(a=10,b=3)

7

In [40]:
def insert_at_a(l, position, e):
    left_part = l[:position] # this is a list
    left_part.append(e) # this is a list
    right_part = l[position:] # this is a list
    return left_part + right_part

def insert_at_b(l, position, e):
    return l[:position] + [e] + l[position:]



my_list1 = [1,2,3,4,5,6,7,8,9]
insert_at_b (my_list1, 5, 9999)

my_list1.insert(5, 9999)
my_list1

[1, 2, 3, 4, 5, 9999, 6, 7, 8, 9]

In [17]:
my_list = [1, 2, 3, "python", 4, 5]
print("List sample", my_list)
print("Second element of the list", my_list[1])
my_list[1] = 20
my_list.append(True)
print("List sample", my_list)
my_list.remove(my_list[3])
print("List sample", my_list)
print("Left part of the list", my_list[:3])
print("Right part of the list", my_list[3:])
print("Concatenate the two lists", my_list[:3] + my_list[3:])

List sample [1, 2, 3, 'python', 4, 5]
Second element of the list 2
List sample [1, 20, 3, 'python', 4, 5, True]
List sample [1, 20, 3, 4, 5, True]
Left part of the list [1, 20, 3]
Right part of the list [4, 5, True]
Concatenate the two lists [1, 20, 3, 4, 5, True]

# Tuples

In [43]:
my_tuple = ("apple", "banana", "cherry")
type(my_tuple)

tuple

In [48]:
# my_tuple[0]="orange" # forbidden
# my_tuple.append("orange") # forbidden because they are immutable
my_tuple[0] # tuples are ordered

'apple'

# Dictionaries

In [49]:
my_dict = {"name": "Alice", "age": 25, "location": "New York"}
my_dict

{'name': 'Alice', 'age': 25, 'location': 'New York'}

In [51]:
# my_dict[1] error, because they are un-ordered

my_dict["country"] = "United States"
my_dict

{'name': 'Alice',
 'age': 25,
 'location': 'New York',
 'country': 'United States'}

In [52]:
my_dict["location"]

'New York'

In [53]:
my_dict["age"] = 35
my_dict

{'name': 'Alice',
 'age': 35,
 'location': 'New York',
 'country': 'United States'}

In [55]:
my_dict["tuple"]= my_tuple
my_dict

{'name': 'Alice',
 'age': 35,
 'location': 'New York',
 'country': 'United States',
 'tuple': ('apple', 'banana', 'cherry')}

In [56]:
print(my_dict["tuple"][1])

banana

# Sets

In [63]:
my_set = {1,2,3,4,5,6,5,5,3,4,7,8,1,1,1,1}
print(my_set)

my_set.add(10) # just a single element!
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 10}

# Common functions

In [65]:
len(my_set)

9

In [66]:
len(my_tuple)

3

In [67]:
len(my_list)

6

In [68]:
len(my_dict)

5