# FOR Loops

In [4]:
range(5)

range(0, 5)

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
my_list = [1,4,7,10,-5]
my_list

[1, 4, 7, 10, -5]

In [8]:
for i in my_list:
    print(i)

1
4
7
10
-5

In [10]:
my_tuple = (3, -2, "hello", True)
my_tuple

(3, -2, 'hello', True)

In [11]:
for i in my_tuple:
    print(i)

3
-2
hello
True

In [14]:
for i in my_tuple:
    print("Barbera")

Barbera
Barbera
Barbera
Barbera

# WHILE loops

In [16]:
counter = 0
while counter < 5:
    print(f"within the loop: {counter}")
    counter  += 1
    if (counter == 3):
        break
        
print(f"outside of the loop: {counter}")

within the loop: 0
within the loop: 1
within the loop: 2
outside of the loop: 3

In [26]:
for i in range(3): # loop for 3 rows    
    for j in range(5): # loop for 5 columns
        print("*", end="")
    print()

*****
*****
*****

# Error Handling

In [28]:
try:
    x = 3 / 0

except ZeroDivisionError as e:
    print(e)

division by zero

In [30]:
try:
    x = 10 + "abc"

except TypeError as e:
    print(f"The following error occurred: {e}")

The following error occurred: unsupported operand type(s) for +: 'int' and 'str'

In [32]:
try:
    my_list = [1,2,3,4,5]
    print(my_list[10])

except Exception as e:
    print(f"The following error type has happened: {e}")

The following error type has happened: list index out of range

In [24]:
try:
    x = 3 / 0

except ZeroDivisionError as e:
    print(e)

division by zero

In [25]:
try:
    x = 10
    x = 10 + "abc"

except TypeError as e:
    print(e)

unsupported operand type(s) for +: 'int' and 'str'